target
.*
!.gitignore
!.travis.yml
!.env.example
*.iml
/data
/releases
/application-*.properties*
*.log
/resources
snomed-drools-rules
/tmp
/local*
authoring-traceability.log*
/application.properties
test.properties
/artifacts/*
!/artifacts/README.md
!/artifacts/*/.gitkeep
